<div class="row my-2">
  <div class="col">
    <header>
      <h1 class="text-capitalize text-center">{{user.username}}'s Dashboard</h1>
      <h2 class="text-center">View and edit your posts here</h2>
    </header>
  </div>
</div>

{{#if user.posts}}
  {{#each user.posts as |post|}}
    <div class="row text-center postRow mb-3">
      <div class="col-sm-9 box m-auto">
        <div class="row">
          <div class="col">
            <div class="postHeader">
              <h3 class="text-black postTitle">Title: {{post.title}}</h3>
              <p class="text-black mb-1">Posted on
                {{post.date_created}}</p>
            </div>
            <p
              class="text-black postText mb-1"
              style="text-align: left;"
            >{{post.text}}</p>
            <a class="btn mb-1 viewBtn" href="/posts/{{post.id}}">View Post</a>
            <a class="btn btn-warning mb-1" href="/posts/{{post.id}}">Edit Post</a>
            <a class="btn btn-danger mb-1" href="/posts/{{post.id}}">Delete Post</a>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{/if}}