<div class="row mt-2">
  <div class="col d-flex justify-content-center">
    <header>
      <h1>Techie Posts Page</h1>
    </header>
  </div>
</div>

<div class="row my-3">
  <div class="col d-flex justify-content-center">
    <a class="btn" id="newPostBtn" href="/newPost">New post</a>
  </div>
</div>

{{#unless posts}}
  <div class="row text-center postRow">
    <div class="col-9 box m-auto">
      <h2 class="text-black">There are no posts yet. Write the first post!</h2>
    </div>
  </div>
{{/unless}}

{{#if posts}}
  {{#each posts as |post|}}
    <div class="row text-center postRow mb-3">
      <div class="col-sm-9 box m-auto">
        <div class="row">
          <div class="col">
            <div class="postHeader">
              <h3 class="text-black postTitle">Title: {{post.title}}</h3>
              <p class="text-black mb-1">Posted by:
                {{post.user.username}}
                on
                {{post.date_created}}</p>
            </div>
            <p
              class="text-black postText mb-1"
              style="text-align: left;"
            >{{post.text}}</p>
            <a class="btn mb-1" id="viewBtn" href="/posts/{{post.id}}">View Post</a>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{/if}}

<a class="btn lowerPostBtn" id="newPostBtn" href="/newPost">+ Post</a>