<div class="row my-2">
  <div class="col">
    <header>
      <h1 class="text-center">Viewing post: "{{posts.title}}" by {{posts.user.username}}</h1>
    </header>
  </div>
</div>

<div class="row text-center my-3">
  <div class="col-sm-6 box m-auto">
    <div class="row">
      <div class="mb-1">
        <div class="postHeader">
          <h3 class="text-black text-center postTitle mt-2">Title: {{posts.title}}</h3>
          <h4 class="text-black mb-1">Posted by:
            {{posts.user.username}}
            on
            {{posts.date_created}}</h4>
        </div>
        <p
          class="text-black postText mb-1"
          style="text-align: left;"
        >{{posts.text}}</p>
        <a class="btn btn-dark" id="commentBtn" href="#">Comment</a>
      </div>
    </div>
  </div>
</div>

{{#if posts.comments}}
  {{#each posts.comments as |comment|}}
    <div class="row mb-3">
      <div class="col-sm-6 box m-auto">
        <div class="row">
          <div class="mb-1">
            <div class="postHeader">
              <h4 class="text-black my-2 text-center">Posted by:
                {{comment.user.username}}
                on
                {{comment.date_created}}</h4>
            </div>
            <p
              class="text-black postText mb-1"
              style="text-align: left;"
            >{{comment.comment}}</p>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{/if}}

<div class="row position-relative text-center" id="commentBox">
  <div class="col-sm-6 box m-auto">
    <div class="row">
      <div>
        <form id="commentForm" class="mt-2">
          <textarea
            class="form-control my-1"
            id="commentText"
            rows="4"
            placeholder="Write comment here..."
          ></textarea>
          <button type="submit" class="btn btn-dark" style="width: 150px;">Post</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/newComment.js"></script>